/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* IMPORT TAILWIND */

@import "tailwindcss";


@theme {
   /* FONTS */
   --font-chewy: "Chewy", sans-serif;
   --font-inter: "Inter", sans-serif;

   /* COLORS */
   --color-electric-cyan: #48BFE3;
   /* INITIAL THEME */
   --color-orange-shade: #FF9B51;
}

@layer base {
   h1 {
      @apply text-3xl font-bold text-gray-900
   }
   h2 {
      @apply text-xl font-bold text-gray-900
   }
   a {
      @apply text-blue-600 hover:underline
   }
}

@layer components {
   .sidebar-icons {
      @apply h-16 w-16 flex flex-col justify-center items-center rounded-md hover:bg-cyan-600 transition ease-in duration-200 cursor-pointer
   }
   .dark-sidebar-icons {
      @apply h-16 w-16 flex flex-col justify-center items-center rounded-md hover:bg-cyan-600 transition ease-in duration-200 cursor-pointer
   }
}

@layer utilities {
   .flex-col-center {
      @apply flex flex-col justify-center items-center
   }
   .flex-col-start {
      @apply flex flex-col items-center
   }
}
